@keyframes load {
	from {width:0px;}
	to{width:240px;}
}

html,
body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    margin: 0 !important;
    padding: 0;
    transition: 0.2s;
    background: #121212;
    color: white;
}

.heading {
    margin-left: 1rem;
}

#loading {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #121212;
    z-index: 100;
    top: 0;
    opacity: 1;
	
}

#loading-indicator {
	position: absolute;
	width: 240px;
	height:4px;
	background: rgba(48, 79, 254, 0.20);
	top:0;
	right:0;
	left:0;
	bottom:0;
	margin:auto;
}

#loading-indicator-fill {
	width:0;
	height: 3px;
	background: #304FFE;
	animation-name:load;
	animation-duration: 5s;
}

#error {
    width: 100%;
    height: 1rem;
    position: absolute;
	top: 0;
	
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
    opacity: 0.5;
    display: none;
}


#loading img {
    width: 8rem;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.fade {
    opacity: 0 !important;
    transition: 0.4s;
}

.brightness {
    width: 20rem;
}

.slider-container {
	width:50%;
	display: inline-block;
}

.option {
    width: 5rem;
    height: 5rem;
    border-radius: 4px;
    text-align: center;
    padding: 1rem;
    margin: 2rem;
    margin-right: 0.5rem;
    display: inline-block;
    transition: 0.4s;
    background: rgba(255, 255, 255, 0.05);

}

.option:hover {
    background-color: #1b2029;

}

.option p {
    opacity: 0;
    transition: 0.2s;
}

.option:hover p {
    opacity: 1;
}

.on {
    transition: 0.2s;
    box-shadow: 0px 0px 0px 2px #00d82f !important;
}

.disable {
    opacity: 0.3;
}

.disable:hover {
    background-color: #171B23;
}

.disable:hover p {
    opacity: 0;
}

.sub-btn {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin-left: 1rem;
    border-radius: 4px;
    padding: 0.5rem;
    background: #171B23;
    border: 6px solid rgba(0,0,0,0.15);

}

.sub-btn img {
    width: 100%;
}

.sub-btn:hover {
    background-color: #1b2029;

}

#error-reload {
    color: white;
    background: black;
    border-radius: 4px;
	border: 2px solid black;
	width:4rem;
	height:2rem;
    position: absolute;
    top: 4rem;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
    opacity: 0.5;
	display: none;

}

.slider {
    -webkit-appearance: none;
    height: 1rem;
    background: rgb(33, 38, 49);
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 4px;
	width:100%;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1rem;
    height: 1rem;
    background: white;
    cursor: pointer;
    border-radius: 4px;

}

.slider::-moz-range-thumb {
    width: 1rem;
    height: 1rem;
    background: white;
    cursor: pointer;
    border-radius: 4px;
}

.setting-section, .global-setting-section {
	display: none;
    width: 200px;
    padding: 1rem;
    border-radius: 4px;
    margin-left: 1rem;
    background: #171B23;
    border: 6px solid rgba(0,0,0,0.15);
	margin-bottom: 1rem;
	text-align: center;
}

.progress {
    height: 1rem;
    background: #00d82f;
    border-radius: 4px;
}

input[type=text] {
    border-radius: 4px;
    background: rgb(28, 33, 43);
    border: 0;
    color: white;
    padding: 5px;
	outline: none;
	width:100%;
}

h2 {
	padding: 0;
	margin: 0;
	display: inline-block;
}

.select-colour {
	padding: 0;
	margin: 0;
	display: inline-block;
	width: 50px;
	height: 16px;
	border-radius: 4px;
}

/*  */
.tooltip {
	position: relative;
	display: inline-block;
  }
  
  .tooltip .tooltiptext {
	visibility: hidden;
    background: #11141b;
    border: 6px solid rgba(0,0,0,0.15);
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 1rem;
	position: absolute;
	z-index: 1;
	top: -5px;
	left: 110%;
  }
  
  .tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 50%;
	right: 100%;
	margin-top: calc(-50% - 5px);
	border-width: 5px;
	border-style: solid;
	border-color: transparent #11141b transparent transparent;
  }
  .tooltip:hover .tooltiptext {
	visibility: visible;
  }
  

.settings-container {
	width:49%;
	display: inline-block;
	float: left;
}

.global-settings-container {
	width:50%;
	display: inline-block;
	
}